Repository pariahstation/Pariah-Station, pull requests merged in 2022-03, with the labels that each got.

#3 Proper combat indicator and the start of modularisation
  code/__DEFINES/keybinding.dm
  code/__DEFINES/~pariah_defines/keybindings.dm
  code/datums/keybinding/mob.dm
  code/modules/mob/living/death.dm
  modular_pariah/master_files/code/modules/mob/living/emote_popup.dm
  modular_pariah/master_files/icons/mob/popup_flicks.dmi
  modular_pariah/modules/combat_indicator/code/combat_indicator.dm
  modular_pariah/modules/combat_indicator/icons/combat_indicator.dmi
  tgstation.dme
Labels: Modular

#58 SSDecay Port
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/explosions.dm
  code/game/turfs/open/floor.dm
  code/modules/power/lighting/light.dm
  modular_pariah/master_files/code/controllers/configuration/entries/pariah_config_entries.dm
  modular_pariah/master_files/config/pariah/pariah_config.txt
  modular_pariah/modules/decay_subsystem/code/decaySS.dm
  modular_pariah/modules/decay_subsystem/code/decay_turf_handling.dm
  tgstation.dme
Labels: Enhancement, Big PR, Semi modular

#57 QM is a head once again Skyrat Port
  code/__DEFINES/jobs.dm
  code/datums/id_trim/jobs.dm
  code/game/machinery/computer/crew.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/turfs/open/floor.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/quartermaster.dm
  icons/mob/huds/hud.dmi
  modular_pariah/master_files/code/datums/id_trim/jobs.dm
  modular_pariah/master_files/code/game/objects/items/devices/radio/encryption_key.dm
  modular_pariah/master_files/code/game/objects/items/devices/radio/headset.dm
  modular_pariah/master_files/code/modules/projectiles/guns/gun.dm
  modular_pariah/master_files/icons/obj/card.dmi
  tgstation.dme
Labels: Semi modular

#92 Fixes the build system not detecting changes in `/modular_pariah`
  tools/build/build.js
Labels: Good first PR

#87 fast food
  code/modules/food_and_drinks/recipes/food_mixtures.dm
Labels: Not modular, Good first PR

#82 Adds Radio Noise
  modular_pariah/modules/radiosound/code/headset.dm
  modular_pariah/modules/radiosound/readme.md
  modular_pariah/modules/radiosound/sound/radio/common.ogg
  modular_pariah/modules/radiosound/sound/radio/security.ogg
  modular_pariah/modules/radiosound/sound/radio/syndie.ogg
  tgstation.dme
Labels: Modular

#98 Light tweaks - lighting related ports
  code/modules/power/lighting/light.dm
  modular_pariah/master_files/code/modules/power/lighting.dm
  tgstation.dme
Labels: Enhancement, Semi modular

#100 Classic Traitor
  code/__DEFINES/~pariah_defines/baton_upgrades.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/traitor/uplink_handler.dm
  code/modules/modular_computers/computers/item/tablet_presets.dm
  code/modules/uplink/uplink_items/bundle.dm
  modular_pariah/master_files/code/game/gamemodes/objective.dm
  modular_pariah/modules/contractor/code/datums/contract.dm
  modular_pariah/modules/contractor/code/datums/contractor_datum.dm
  modular_pariah/modules/contractor/code/datums/contractor_hub.dm
  modular_pariah/modules/contractor/code/datums/contractor_items.dm
  modular_pariah/modules/contractor/code/datums/contractor_support.dm
  modular_pariah/modules/contractor/code/datums/contractor_tablet.dm
  modular_pariah/modules/contractor/code/datums/mind_datum.dm
  modular_pariah/modules/contractor/code/items/baton.dm
  modular_pariah/modules/contractor/code/items/boxes.dm
  modular_pariah/modules/contractor/code/items/misc.dm
  modular_pariah/modules/contractor/code/items/modsuit/modsuit.dm
  modular_pariah/modules/contractor/code/items/modsuit/modules.dm
  modular_pariah/modules/contractor/code/items/modsuit/theme.dm
  modular_pariah/modules/contractor/code/items/tablet.dm
  modular_pariah/modules/contractor/icons/baton_upgrades.dmi
  modular_pariah/modules/contractor/icons/fulton.dmi
  modular_pariah/modules/contractor/icons/modsuit.dmi
  modular_pariah/modules/contractor/icons/modsuit_modules.dmi
  modular_pariah/modules/contractor/icons/worn_modsuit.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/SyndContractor.js
Labels: Help wanted, Big PR, Semi modular, WIP

#106 Adds thunderdome.ogg(Sector11) as lobby music
  modular_pariah/master_files/sound/ambience/thunderdome.ogg
  strings/round_start_sounds.txt
Labels: Not modular, Enhancement

#133 Fixes some issues with the Classic Traitor PR + proper modularisation (I hope)
  code/game/gamemodes/objective.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/modular_computers/computers/item/tablet_presets.dm
  modular_pariah/master_files/code/modules/antagonist/_common/antag_datum.dm
  tgstation.dme
Labels: Fix, Semi modular

#69 Adds Roleplay Mechanics And Subtler Stuff
  code/__DEFINES/~pariah_defines/logging.dm
  code/__DEFINES/~pariah_defines/preferences.dm
  code/__DEFINES/~pariah_defines/span.dm
  code/__HELPERS/_logging.dm
  code/datums/emotes.dm
  code/game/atoms.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/mob.dm
  modular_pariah/master_files/code/_globalvars/configuration.dm
  modular_pariah/master_files/code/_globalvars/lists/chat.dm
  modular_pariah/master_files/code/modules/verbs/code/modules/client/looc.dm
  modular_pariah/master_files/code/modules/verbs/code/modules/client/mob/subtle.dm
  modular_pariah/master_files/readme
  tgstation.dme
Labels: Semi modular

#118 Indicators module - typing, emote, SSD and better CI
  code/__DEFINES/~pariah_defines/signals.dm
  code/_onclick/click.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/mob_say.dm
  code/modules/vehicles/mecha/_mecha.dm
  modular_pariah/master_files/code/modules/mob/living/emote_popup.dm
  modular_pariah/modules/combat_indicator/code/combat_indicator.dm
  modular_pariah/modules/indicators/code/combat_indicator.dm
  modular_pariah/modules/indicators/code/sealed.dm
  modular_pariah/modules/indicators/code/ssd_indicator.dm
  modular_pariah/modules/indicators/code/typing_indicator.dm
  modular_pariah/modules/indicators/icons/combat_indicator.dmi
  modular_pariah/modules/indicators/icons/emote_indicator.dmi
  modular_pariah/modules/indicators/icons/ssd_indicator.dmi
  modular_pariah/modules/indicators/icons/typing_indicator.dmi
  modular_pariah/modules/indicators/readme.md
  tgstation.dme
Labels: Enhancement, Completely original modularisation, Semi modular

#134 Hyposprays port
  code/game/gamemodes/objective_items.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/plumbing/plumbers/pill_press.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  modular_pariah/modules/hyposprays/code/autolathe_designs.dm
  modular_pariah/modules/hyposprays/code/hypospray_kits.dm
  modular_pariah/modules/hyposprays/code/hyposprays_II.dm
  modular_pariah/modules/hyposprays/code/hypovials.dm
  modular_pariah/modules/hyposprays/code/vending_hypospray.dm
  modular_pariah/modules/hyposprays/icons/hypokits.dmi
  modular_pariah/modules/hyposprays/icons/hypospray_fillings.dmi
  modular_pariah/modules/hyposprays/icons/hyposprays.dmi
  modular_pariah/modules/hyposprays/icons/vials.dmi
  modular_pariah/modules/hyposprays/readme.md
  modular_pariah/modules/hyposprays/sound/hypospray.ogg
  modular_pariah/modules/hyposprays/sound/hypospray2.ogg
  modular_pariah/modules/hyposprays/sound/hypospray_long.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/ChemPress.js
Labels: Enhancement, Completely original modularisation, Semi modular

#144 Pixel Shifting!
  code/__DEFINES/~pariah_defines/keybindings.dm
  code/datums/keybinding/mob.dm
  code/modules/mob/mob_movement.dm
  modular_pariah/modules/pixel_shift/code/pixel_shift.dm
  modular_pariah/modules/pixel_shift/code/readme.md
  tgstation.dme
Labels: Modular, Enhancement

#84 Attempt at Flavor Text (WIP)
  code/__DEFINES/~pariah_defines/DNA.dm
  code/__DEFINES/~pariah_defines/flavor_defines.dm
  code/__DEFINES/~pariah_defines/say.dm
  code/modules/client/preferences/_preference.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/examine_tgui.dm
  modular_pariah/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_pariah/master_files/code/modules/client/preferences/flavor_text.dm
  modular_pariah/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_pariah/modules/customization/modules/mob/living/carbon/human/human_defines.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ExaminePanel.js
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/pariah/erp_preference.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/pariah/species_features.tsx
Labels: Enhancement, Semi modular, WIP

#171 Fixes the Select Equipment menu preview
  code/__HELPERS/icons.dm
Labels: Fix, Not modular
